.ant-card-cover img {
  max-height: 20rem;
  max-width: 15rem;
}

/* HEADER */
.ant-layout-header .btn-logout {
  top: 12px;
  float: right;
  margin-right: 10px;
}

/* CONTENT */
.ant-layout-content .img-dashboard {
  width: 100%;
  height: auto;
}

/* MODAL */
.modal-add-channel .ant-form-item {
  width: 100%;
}

/* LOGIN */
.contaiener-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.contaiener-login .ant-card .ant-card-body {
  text-align: center;
}
.contaiener-login img {
  width: 200px;
  height: auto;
}
.contaiener-login h2 {
  display: flex;
  justify-content: center;
}
.contaiener-login .ant-btn-primary {
  width: 100%;
}

/* HEADER */
.ant-layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
.ant-layout-header .user-info {
  float: right;
  bottom: 22px;
  position: relative;
  width: 160px;
}
.ant-layout-header .ant-typography-secondary {
  position: absolute;
  top: 50px;
}
.ant-layout .ant-layout-header .headers-item {
  margin-top: -2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 60px;
  height: 60px;
}

.container-header-rigth {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100vh;
}
.item-help,
.item-orders,
.item-join {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.88);
}
/*SEARCH*/

.class-search .ant-input-wrapper .ant-input {
  background-color: #f0eaea99;
  border-radius: 0;
  margin-right: 2rem;
  position: absolute;
  right: -2px;
  top: 27px;
}

.class-search .ant-input-wrapper .ant-input:focus {
  border-color: black;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

.class-search .ant-input-wrapper .ant-input:hover {
  border-color: black;
}

.class-search .ant-input-group-addon > button {
  display: none;
}

/*FOOTER*/
.ant-layout .ant-layout-footer {
  padding: 0;
}
.app-layout-footer-join-adiclub {
  text-align: center;
  height: 50px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 22px;
  display: grid;
  height: 7rem;
}
.ant-layout > span > a {
  color: rgba(0, 0, 0, 0.88);
}

/*CONTENT*/
.page-info {
  font-style: italic;
  font-size: 24px;
  text-transform: uppercase;
}
.page-descrption {
  font-size: 14px;
  width: 65%;
  display: block;
}
.page-show_more {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.88);
  justify-content: center;
  display: flex;
  text-decoration: underline;
}
.btn-filter {
  border-radius: 0;
  position: absolute;
  right: 37px;
  top: 210px;
  white-space: nowrap;
  font-weight: bold;
  border-color: #201733;
}
/*LOGO*/
.container-img-logo {
  width: 50px;
  height: 50px;
  margin: 1rem;
}

/*CARD*/
.class-card-categories {
  width: 240px;
  margin-bottom: 1rem;
}
.class-img-item-category {
  width: 238px;
  overflow: hidden;
}
.class-card-categories:hover {
  border: 1px solid black;
}

.class-price {
  position: absolute;
  top: 65%;
  left: 12%;
  transform: translate(-50%, -50%);
  color: #201733;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color: white;
  padding: 5px 5px;
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}
.class-img-item-category:hover .class-price {
  transform: scale(1);
}

.class-title-item-category,
.class-description-item-category {
  padding-left: 1rem;
}

/*LIST*/
.app-row-categories {
  margin: 2rem;
}

/*DETAILS*/
.imgWrapper4 {
  font-size: 0;
  text-align: initial;
}
.imgWrapper4 .imgpRroduct1 {
  display: inline-block;
  font-size: inherit;
}
.imgWrapper4 .imgpRroduct2 {
  display: inline-block;
  font-size: inherit;
}
.imgWrapper4 .imgpRroduct1 {
  width: 50%;
  height: 50%;
  max-width: 500px;
  max-height: 500px;
  margin: 1px;
}
.imgWrapper4 .imgpRroduct2 {
  width: 50%;
  height: 50%;
  max-width: 500px;
  max-height: 500px;
  margin: 1px;
}

.imgpRroduct1 img {
  height: auto;
  width: 100%;
}
.imgpRroduct2 img {
  height: auto;
  width: 100%;
}

.sider-comp {
  text-align: center;
  line-height: 120px;
  color: #fff;
  background-color: #1677ff;
}

/*COLLAPSE*/
.app-collapse-no-bdr {
  border: none;
  background-color: #fff;
}
.ant-descriptions-header {
  margin-bottom: 1rem;
}
.ant-collapse {
  width: 62%;
  margin-top: 2rem;
}
.ant-collapse-header-text {
  font-weight: bold;
  font-size: 16px;
}

.contenedor-Description {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.item {
  width: 14rem;
}
.general-information {
  position: fixed;
  top: 76px;
  right: 40px;
  padding: 20px;
  width: 30%;
}
.description_title {
  font-size: 24px;
  text-transform: uppercase;
}
.description_title,
.price_title,
.promo_apply,
.general-buttom,
.descriptions-1,
.descriptions-2,
.descriptions-3,
.general-descriptions,
.general-buttoms,
.sizes {
  text-align: left;
}

.promo_apply {
  margin-top: 2rem;
}
.buttom-size {
  border-radius: 0;
  border-color: #201733;
}
.buttom-size:hover {
  /* border-radius: 0;
  border-color: #201733; */
  background-color: black;
  color: #fff;
}
.general-descriptions {
  margin-top: 2rem;
}
.descriptions-2,
.descriptions-3 {
  text-decoration: underline;
  cursor: pointer;
}
.anticon.anticon-shopping-cart {
  padding-right: 2rem;
}
.anticon.anticon-select {
  padding-right: 2rem;
}
